body {
	margin: 0;
	background: grey;
	font-family: 'Arial';
	}
	
#cleaner {
	clear: both;
	}
	
#cover {
	width: 385px;
	margin: auto;
	background: #ffffff;
	margin-top: 7%;
	min-height: 330px;
	}
	
.page_title, .settings, .close, .rating  {
	padding: 5px;
	float: left;
	font-size: 14px;
	}
	
.close {
	float: right;
	}
	
.page_title {
	width: 295px;
	height: 18px;
	background: #3399cc;
	text-align: left;
	color: white;
	}
.settings {
	width: 48px;
	height: 18px;
	}
.close:hover, .settings:hover {
	background: #3399cc;
	color: white;
	cursor: pointer;
	}
.stars img {
	display: inline-block;
	padding: 0 3px;
	margin-top: -2px;
}
.reviews, .add-reviews {
	display: inline-block;
	padding: 5px;
	margin-top: 5px;	
	font-size: 11px;
	cursor: pointer;
	background: #3399cc;
	color: #fff;
	}
.active-inset {	
	background: #fff;
	border: 1px solid #3399cc;
	border-bottom: 1px solid #fff;
	margin-bottom: -1px;
	border-radius: 5px 5px 0 0;	
	color: #000;
	}
.reviews {
	margin-left: 10px;	
	}
	
.add-reviews {
	margin-left: -5px;
	}

.blue {
	color: #3399cc;
	}
	
.ten {
	font-size: 10px;
	}
	
#wrapper {
	padding: 10px;
	border-top: 1px solid #3399cc;
	font-size: 11px;
	}
	
.rating {
	font-size: 11px;
	}
	
.text_block {
	width: 97%;
	height: 55px;
	border: 1px solid #3399cc;
	padding: 0 5px;
	margin-bottom: 12px;
	overflow: hidden;
	}
	
button {
	width: 50px;
	height: 14px;
	margin-left: 19px;
	margin-top: 36px;
	background: #3399cc;
	border: none;
	font-size: 9px;
	color: white;
	cursor: pointer;
	}
	
.inner_left, .inner_right {
	display: inline-block;
	vertical-align: top;
	}
	
.inner_left {
	width: 80%;
	font-size: 9px;
	}
	
.inner_right {
	position: relative;
	width: 60px;
	}
	
#startButton {
	width: 200px;
	height: 50px;
	position: absolute;
	left: 50%;
	margin-left: -100px;
	top: 100%;
	margin-top: -50px;
	border: 2px solid white;
	color: white;
	font-size: 20px;
	}
	
#wrapper input {
	width: 195px;
	border: 1px solid #3399cc;
	}
	
.review-input {
	height: 75px;
	width: 195px;
	border: 1px solid #3399cc;
	resize: none;
	}
	
#send-review {
	margin: 0;
	height: 25px;
	width: 82px;
	}
	
.star-container {
	display: inline-block;
	margin: 2px;
	width: 19px; 
	height: 18px; 
	background: url(../media/star-sprite.png) 19px 0; 
	}

.comment-star {	
	position: absolute; 
	top: 2px; 
	right: -10px;
	width: 19px; 
	height: 18px; 
	background: url(../media/star-sprite.png) 19px 0;
	}
	
.active-star {
	background: url(../media/star-sprite.png); 
	}


