body {
	margin: 0;
	background: rgba(0,0,0,0.5);
	font-family: 'Arial';
	}
	
#cleaner {
	clear: both;
	}
	
#cover {
	width: 385px;
	margin: auto;
	background: #fff;
	margin-top: 7%;
	padding-bottom: 5px;
	min-height: 330px;
	border-radius: 5px;
	box-shadow: 10px 10px 45px rgba(0,0,0,0.5),
				-5px -5px 45px rgba(0,0,0,0.5);
	}

.top-menu-cover {
	border-bottom: 3px double grey;
	}
	
.page-title, 
.settings, 
.close, 
.rating, 
.stars-outer  {
	padding: 5px;
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
    text-decoration: none;
    color: #000;
	}
	
.close{
	padding: 5px 3px 5px 8px;
	border-radius: 0 5px 0 0;
	height: 18px;
	width: 12px;	
	}
	
.page-title  {	
	color: #000;
	width: 290px;
	height: 18px;
	border-radius: 5px 0 0 0;
	}
	
.settings {
	width: 52px;
	height: 18px;
	}
	
.page-title:hover, 
.close:hover, 
.settings:hover {
	color: white;
	cursor: pointer;
	}
	
.stars-container img {
	display: inline-block;
	padding: 0 3px;
	margin-top: -2px;
	}
	
.reviews, 
.add-reviews {
	display: inline-block;
	padding: 5px;
	margin-top: 5px;	
	font-size: 11px;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
	}

.active-inset {
	margin-bottom: -1px;
	border-radius: 5px 5px 0 0;	
	color: #000;
	}
	
.reviews {
	margin-left: 10px;	
	}
	
.add-reviews {
	margin-left: -5px;
	}
	
.from-container {
	font-size: 10px;
	}
	
#wrapper {
	padding: 10px;
	font-size: 11px;
	}
	
.rating {
	margin-right: -10px;
	}
	
.text_block {
	width: 97%;
	height: 55px;
	padding: 0 5px;
	margin-bottom: 12px;
	overflow: hidden;
	}
	
button {
	width: 50px;
	height: 14px;
	margin-left: 19px;
	margin-top: 36px;
	border: none;
	font-size: 9px;
	color: white;
	cursor: pointer;
	}
	
.inner_left, 
.inner_right {
	display: inline-block;
	vertical-align: top;
	}
	
.inner_left {
	width: 80%;
	font-size: 9px;
	}
	
.inner_right {
	position: relative;
	width: 60px;
	}
	
#startButton {
	width: 200px;
	height: 50px;
	position: absolute;
	left: 50%;
	margin-left: -100px;
	top: 100%;
	margin-top: -50px;
	border: 2px solid white;
	color: white;
	background: #3399cc;
	font-size: 20px;
	}

.wrapper-set {
	text-align: center;
	font-size: 13px;
	}
	
.wrapper-set .raiting {
	clear: both;
	}
	
#wrapper input {
	width: 195px;
	}
	
.review-input {
	height: 75px;
	width: 195px;
	resize: none;
	}
	
#send-review {
	margin: 0;
	height: 25px;
	width: 82px;
	border-radius: 5px;
	}
	
.star-container {
	width: 19px; 
	height: 18px; 
	background: url(../media/star-sprite-new.png)  19px 0; 
	opacity: 0.6;
	display: inline-block;
	margin: 2px;
	}
	
.comment-star {	
	position: absolute; 
	top: 2px; 
	right: -10px;
	}
	
.active-star {
	background: url(../media/star-sprite-new.png); 
	opacity: 1;
	}

.radio-cover:first-child {
	margin-top: 20px;
	}
	
.radio-cover { 	
	margin: 15px 10px;
	padding: 5px;
	overflow: hidden;	
	box-shadow: 5px 5px 10px grey;
	border-radius: 5px;
	font-size: 13px;
	}
	
.radio-cover input {
	margin: 5px;
	}
	
.radio-cover h4 {
	margin: 0;
	margin-bottom: 6px;
	text-decoration: underline;
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	cursor: pointer;
	}

.radio-cover a {
	color: #000;
	text-decoration: none;
	}
	
#get-all {
	margin-left: 20px;
	}
	
.current-inset {
	text-align: left;
	color: #fff;
	}

#congratulation {	
	display: none; 
	padding: 70px 50px;
	height: 196px;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	line-height: 1.5;	
	}
	
.name-input, .review-input {
	padding: 5px;
	margin-top: 5px;
	}
	
.name-input::-webkit-input-placeholder {
	color: red;
	}
	
.name-input:-moz-placeholder {
	color: red;
	}
	
.review-input::-webkit-input-placeholder {
	color: red;
	}
	
.review-input:-moz-placeholder {
	color: red;
	}
