<!DOCTYPE HTML>
<html>
<head>
<title>Template</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="css/stylesheet_testwork.css">
<script type="text/javascript" src="js/lib/ann.js"></script>
<script>
	
</script>
<script type="text/template" id="result">
	<div class="page_title">Page title</div>
	<div class="settings">Settings</div>
	<div class="close">x</div>
	<div id="cleaner"></div>
	<div class="rating">Rating:</div>
	<div class="stars">
	<% for (var i = 0; i <= starCount; i++) { %>	
	<img src="media/star.png">
	<% }; %> 
	</div>
	<div id="cleaner"></div>
	<div class="reviews">Reviews</div>
	<div class="add_rev">Add reviews</div>
	<hr noshade class="blue_line">
	<div id="wrapper">	
	<% for ( var i = 0; i < count; i++ ) { %>
	<div class="text_block_1">
		<div class="inner_left"><span class="ten">From</span>&nbsp;&nbsp;<span class="blue">date</span><br>
		<p class="text-feedback">
		<%ann('.text-feedback').load('https://api.mongolab.com/api/1/databases/first-base/collections/reviews?apiKey=fUlPVExWjzXy1yjlMzvqzi1oREPQwkwQ'); %> <p></div>
		<div class="inner_right"><%=myButton%></div>
	</div>	
	<% }; %>
	</div>
</script>
<style>
#startButton {
	width: 200px;
	height: 50px;
	position: absolute;
	left: 50%;
	margin-left: -100px;
	top: 100%;
	margin-top: -50px;
	border: 2px solid white;
	color: white;
	font-size: 20px;
	}
</style>
</head>
<body>
	
<button id="startButton" onclick="getAll()">Get reviews</button>
<script>
	function getAll() {
	var data = { count: 3, myButton: '<button>Comment</button>', starCount: 5,  };
	ann('#startButton').display('none');
	ann('body').newElement('div').id = 'cover';
	ann('#cover').inside(ann.tmpl('result', data));
	};
</script>
</body>
</html>