<!DOCTYPE HTML>
<html>
<head>
<title>Template</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="css/stylesheet_testwork.css">
<script type="text/javascript" src="js/lib/ann.js"></script>
<script>
	window.onload = (function(){
  var cache = {};
  
  this.tmpl = function tmpl(str, data){
    var fn = !/\W/.test(str) ?
      cache[str] = cache[str] ||
        tmpl(document.getElementById(str).innerHTML) :
      
      new Function("obj",
        "var p=[],print=function(){p.push.apply(p,arguments);};" +             
        "with(obj){p.push('" +

        str
          .replace(/[\r\t\n]/g, " ")
          .split("<%").join("\t")
          .replace(/((^|%>)[^\t]*)'/g, "$1\r")
          .replace(/\t=(.*?)%>/g, "',$1,'")
          .split("\t").join("');")
          .split("%>").join("p.push('")
          .split("\r").join("\\'")
      + "');}return p.join('');");

    return data ? fn( data ) : fn;
  };
})();
</script>
<script type="text/template" id="result">
	<% for ( var i = 0; i < count; i++ ) { %>
	<div class="text_block_1">
		<div class="inner_left"><span class="ten">From</span>&nbsp;&nbsp;<span class="blue">date</span><br>
		<p class="text-feedback"><%ann('.text-feedback').load('https://api.mongolab.com/api/1/databases/first-base/collections/reviews?apiKey=fUlPVExWjzXy1yjlMzvqzi1oREPQwkwQ');%> <p></div>
		<div class="inner_right"><%=myButton%></div>
	</div>	
	<% }; %>
</script>

</head>
<body>
<div id="cover">		
	<div id="wrapper">
		
	</div>
</div>
<script>
	var data = { count: 3, myFeedback: 'anna', myButton: '<button>Comment</button>' };
	var myElement = ann('#wrapper').domElements;
	myElement.innerHTML = tmpl('result', data);
</script>
</body>
</html>