<!DOCTYPE HTML>
<html>
<head>
<title>Widget-try</title>
<meta charset="UTF-8">
<script type="text/javascript" src="$_widget.js"></script>
<script type="text/template" id="result">
	<div class="page-title">Page title</div><div class="settings">Settings</div><div class="close" onclick="myClose()">x</div>
	
	<div id="settings-cover"></div>
	<div id="reviews-cover">
		<div class="rating">Rating:</div>
		<div class="stars">
			<% for (var i = 1; i <= starCount; i++) { %>	
				<div class="star-container raiting-star"></div>
			<% }; %> 
		</div>
		<div id="cleaner"></div>
		<div class="rev-btn reviews active-inset">Reviews</div>
		<div class="rev-btn add-reviews">Add reviews</div>
		<!-- common part -->
		<div id="wrapper">	
			<div class="inner-wrapper wrapper-get">
				<% for ( var i = 0; i < count; i++ ) { %>
				<div class="text_block">
					<div class="inner_left">
						<span class="ten from-container">From</span>&nbsp;&nbsp;<span class="blue">date</span><br>
						<p class="text-feedback"><p>
					</div>
					<div class="inner_right">
						<div class="star-container comment-star"></div>
						<%=myButton%>
					</div>
				</div>	
				<% }; %>
			</div>
		</div>
	</div>
</script>
<script type="text/template" id="request">	
	Name<br>
	<input class="name-input"></input><br>
	Review<br>
	<textarea class="review-input"></textarea><br>
	<div class="rating">Rating:</div>		
	<div class="stars">
		<% for (var i = 1; i <= starCount; i++) { %>	
			<div class="star-container raiting-star choice-star"></div>
		<% }; %> 
	</div>
	<div id="cleaner"></div>
	<button id="send-review" onclick="myPostReviews()">Submit</button>	
</script>
<script type="text/template" id="settings">
	<% for (var i = 1; i <= 3; i++) { %>	
		<div class="radio-cover">
			<% if (i === 1) { %>
			<h4>Widget decor</h4>
			<% for (var j = 1; j <= 3; j++) { %>
				<input type="radio" name="decor"/><br>
			<% }; %>
			<input type="submit" value="Get it">
			<% }; %>
			<% if (i === 2) { %>
			<h4>Number of reviews</h4>
			<% for (var j = 1; j <= 3; j++) { %>
				<input type="radio" name="number-of-review"/><br>
			<% }; %>
			<% }; %>
			<% if (i === 3) { %>
			<h4>Raiting</h4>
			<% for (var j = 1; j <= 2; j++) { %>
				<input type="radio" name="raiting"/><br>
			<% }; %>
			<% }; %>
		</div>
	<% }; %> 
</script>
<script>
	window.onload = function(){ 
		myWidget({ 			
			bgColor     : "blue",   
			bgFill      : '0.8'  
		}); 		
	}	
</script>
</head>
<body>

</body>
</html>