<!DOCTYPE HTML>
<html>
<head>
<title>Widget-try</title>
<meta charset="UTF-8">
<script type="text/javascript" src="$_widget.js"></script>
<script type="text/template" id="result">
<div class="page_title">Page title</div>
	<div class="settings">Settings</div>
	<div class="close" onclick="myClose()">x</div>
	<div id="cleaner"></div>
	<div class="rating">Rating:</div>
	<div class="stars">
	<% for (var i = 0; i <= starCount; i++) { %>	
	<img src="media/star.png">
	<% }; %> 
	</div>
	<div id="cleaner"></div>
	<div class="rev-btn reviews active-inset">Reviews</div>
	<div class="rev-btn add-reviews">Add reviews</div>
	<hr noshade class="blue_line">
	<!-- common part -->
	<div id="wrapper">	
	<div class="inner-wrapper wrapper-get">
	<% for ( var i = 0; i < count; i++ ) { %>
	<div class="text_block_1">
		<div class="inner_left"><span class="ten from-container">From</span>&nbsp;&nbsp;<span class="blue">date</span><br>
		<p class="text-feedback"><p></div>
		<div class="inner_right"><%=myButton%></div>
	</div>	
	<% }; %>
	</div>
	</div>
</script>
<script type="text/template" id="request">	
		Name<br>
		<input class="name-input"></input><br>
		Review<br>
		<textarea class="review-input"></textarea><br>
		<div class="rating">Rating:</div>		
		<div class="stars">
		<% for (var i = 0; i <= starCount; i++) { %>	
		<img src="media/star.png">
		<% }; %> 
		</div>
		<div id="cleaner"></div>
		<button id="send-review" onclick="myPostReviews()">Submit</button>	
</script>
<script>
	window.onload = function(){ 
		myWidget({ 			
			bgColor     : "blue",   
			bgFill      : '0.8'  
		}); 
	}	
</script>
</head>
<body>

</body>
</html>